<a href="https://colab.research.google.com/github/EricoCoutoJr/ANP/blob/master/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exemplo de uso da Biblioteca **TWINT**
# Scraping with TWINT library
---
### Esta biblioteca escrita em Python permite a extra√ß√£o (SCRAPING) no Twitter sem uso da API. Esta ferramenta permite que voc√™ extrais twitters com usu√°rio, assunto, hashtegs espe√≠cficos ou links, telefones, e-mails. Com ela podemos, tamb√©m, definir per√≠odo da coleta de dados, quantidade de registros eoutras informa√ß√µes. Tamb√©m temos acesso informa√ß√£os como: likes, retwitters, cashtags, replays e outros dados contidos em twitters.
![891.jpg](891.jpg)

In [ ]:
!pip install twint


√â necess√°rio instalara e reiniciar o ambinete de trabalo para usar o Twint. √â aconselhavel usar o ambiente do Google Colab para evitar falhas no Jupyter Lab.

In [24]:
import twint

In [ ]:
a = twint.Config()
a.Search = "Data Science"
a.Location = 'Brasil'
a.Limit = 40
a.Store_csv = True
a.Output = "DS.csv"
twint.run.Search(a)

In [33]:
import pandas as pd
df = pd.read_csv("DS.csv")
df.columns

Index(['id', 'conversation_id', 'created_at', 'date', 'time', 'timezone',
       'user_id', 'username', 'name', 'place', 'tweet', 'mentions', 'urls',
       'photos', 'replies_count', 'retweets_count', 'likes_count', 'hashtags',
       'cashtags', 'link', 'retweet', 'quote_url', 'video', 'near', 'geo',
       'source', 'user_rt_id', 'user_rt', 'retweet_id', 'reply_to',
       'retweet_date', 'translate', 'trans_src', 'trans_dest'],
      dtype='object')

In [34]:
df.head()

                    id      conversation_id  ...  trans_src trans_dest
0  1297580001286656000  1297580001286656000  ...        NaN        NaN
1  1297579885364498433  1297550245933404160  ...        NaN        NaN
2  1297579881283424259  1297578492788342784  ...        NaN        NaN
3  1297579738110795777  1297579738110795777  ...        NaN        NaN
4  1297579661392846848  1297579661392846848  ...        NaN        NaN

[5 rows x 34 columns]